.container {
  width: 90vw;
  margin: 5rem 0;
  max-width: 450px;
  background:#fff;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
.container h3 {
  font-weight: normal;
  text-transform: none;
  margin-bottom: 2rem;
}

.container button {
  color: #fff;
  display: block;
  width: 100%;
  border-color: transparent;
  background: #f28ab2;
  margin: 2rem auto 0 auto;
  text-transform: capitalize;
  font-size: 1.2rem;
  padding: 0.5rem 0;
  letter-spacing: 0.1rem;
  border-radius: 0.25rem;
  outline: 1px solid rgba(242, 138, 178, 0.8);
  cursor: pointer;
}